# Puerto en el que corre el servidor Express
PORT=3000

# URL de conexión a PostgreSQL (usada por Prisma)
# Reemplaza usuario, contraseña, host, puerto y nombre de base de datos según tu PostgreSQL local
DATABASE_URL=postgresql://learnupnow_db_user:7gcOCbNxCL8SSCxJRGsmUXMQMNHiobg8@dpg-d8nmuncvikkc73d2pl80-a.oregon-postgres.render.com/learnupnow_db

# Clave secreta para firmar los tokens JWT
JWT_SECRET="tu_secreto_super_seguro_de_jwt"
